/* bag-details.module.css */
.container {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .heading {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
  }
  
  .p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 19px;
    border: 1px solid #ddd;
    border-radius: 6px;
    resize: vertical;
    font-size: 16px;
  }
  
  .reclaimButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .reclaimButton:hover {
    background-color: #218838;
  }
  
  .dashboardButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    
    transition: background-color 0.3s;
  }
  
  .dashboardButton:hover {
    background-color: #0056b3;
  }
  
  .imageContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
  }